
.list{    
    list-style: none;
    margin:0;
    padding:0;
    background: #776966;
    border-radius: 10px;
    overflow: auto;
   
}

.list li{     
    float: left;
}

.list li a{
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color:white;
    font-size: 20px;
}
.list li a:hover{
   background: white;
   color:#776966;
}